<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>首页</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- 可选的 Bootstrap 主题文件（一般不用引入） -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <style>
        .input_line {
            BORDER-TOP-STYLE: none;BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE:solid; -webkit-box-shadow:none;
        }
    </style>

</head>
<body>

<div class="container-fluid text-muted" style="padding-top: 10px; padding-bottom: 10px;">
    <div class="row">
        <div class="col-xs-7">
            <img class="img-responsive" src="/images/cover.jpg">
        </div>
        <div class="col-xs-5">
            <span class="lead" style="font-weight: bold">哇哈哈哈哈哈哈哈哈哈哈或或或或或或或或或或或或或或或或或或或或或或或</span>
            <br><br>
            <span style="color: red; font-size: 16px;"><strong>￥1</strong> </span> <del>$158</del>
        </div>
    </div>

    <form>
        <div class="form-group">
            <!--<label for="address">收货地址</label>-->
            <input type="text" class="input_line input-lg address form-control" id="address" placeholder="收货地址">
        </div>
        <div class="form-group">
            <!--<label for="shipping_name">收货姓名</label>-->
            <input type="text" class="input_line input-lg shipping_name form-control" id="shipping_name" placeholder="收货姓名">
        </div>
        <div class="form-group">
            <!--<label for="phone">手机号码</label>-->
            <input type="text" class="input_line input-lg phone form-control" id="phone" placeholder="手机号码">
        </div>
        <div class="form-group">
            <!--<label for="school_name">学校名字</label>-->
            <input type="text" class="input_line input-lg school_name form-control" id="school_name" placeholder="学校名字">
        </div>
        <div class="form-group">
            <!--<label for="real_name">真实姓名</label>-->
            <input type="text" class="input_line input-lg real_name form-control" id="real_name" placeholder="真实姓名">
        </div>

        <div class="radio row">
            <div class="col-xs-3" style="padding-right: 0;">
                背面刻字：
            </div>
            <div class="col-xs-8">
                <label><input class="" type="radio" checked="checked" value="1" name="font_type[]">生肖+名字</label>
                <br><br>
                <label><input class="" type="radio" value="2" name="font_type[]">星座+名字</label>
            </div>
        </div>
        <br>
        <div class="radio row">
            <div class="col-xs-3" style="padding-right: 0;">
                U盘样式：
            </div>
            <div class="col-xs-8">
                <label class="ubtn btn btn-info active btn-sm" style="padding-left: 10px;">
                    <input class="text-muted" style="display:none;" type="radio" checked="checked" value="1" name="u_type[]">金属经典款</label>
                <label class="ubtn btn active btn-sm"  style="padding-left: 10px;">
                    <input class="text-muted" style="display:none;"  type="radio" value="2" name="u_type[]">虎扣U盘</label>
                <label class="ubtn btn active btn-sm"  style="padding-left: 10px;">
                    <input class="text-muted" style="display:none;" type="radio" value="3" name="u_type[]">小精钢</label>
                <label class="ubtn btn active btn-sm"  style="padding-left: 10px;">
                    <input class="text-muted" style="display:none;" type="radio" value="4" name="u_type[]">钥匙扣U盘</label>
            </div>
        </div>
        <div class="radio row">
            <div class="col-xs-6">
                <img src="/images/u1.jpg" class="img-responsive center-block">
            </div>
            <div class="col-xs-6">
                <img src="/images/u2.jpg" class="img-responsive center-block">
            </div>
        </div>
        <br>
        <div class="radio row">
            <div class="col-xs-3" style="padding-right: 0;">
                颜色：
            </div>
            <div class="col-xs-8">
                <label><input class="" type="radio" checked="checked" value="1" name="color[]">金色</label>
                <label><input class="" type="radio" value="2" name="color[]">银色</label>
                <label><input class="" type="radio" value="3" name="color[]">黑色</label>
                <br>
            </div>
        </div>
        <br>
        <div class="subbtn btn btn-info btn-lg btn-block center-block">提交定金</div>
    </form>
    <br>
</div>
</body>

<script>
    function checkPhone(phone){
        if(!(/^1[3456789]\d{9}$/.test(phone))){
            return false;
        }
        return true;
    }

    $('.subbtn').on('click', function () {
        address = $('.address').val();
        shipping_name = $('.shipping_name').val();
        school_name = $('.school_name').val();
        real_name = $('.real_name').val();
        phone = $('.phone').val();
        font_type = $("input[name='font_type[]']:checked").val();
        u_type = $("input[name='u_type[]']:checked").val();
        color = $("input[name='color[]']:checked").val();

        if (!address){
            alert('收货地址不能为空');
            return;
        }
        if (!shipping_name){
            alert('收货人姓名不能为空');
            return;
        }

        if (!phone){
            alert('手机号不能为空');
            return;
        }

        if(!checkPhone(phone)){
            alert('手机格式不正确');
            return;
        }

        if (!school_name){
            alert('学校名不能为空');
            return;
        }
        if (!real_name){
            alert('姓名不能为空');
            return;
        }


        if (!font_type){
            alert('刻字类型不能为空');
            return;
        }
        if (!u_type){
            alert('U盘类型不能为空');
            return;
        }
        if (!color){
            alert('颜色不能为空');
            return;
        }

        $.ajax({
            data:{
                address:address,
                shipping_name:shipping_name,
                phone:phone,
                school_name:school_name,
                real_name:real_name,
                font_type:font_type,
                u_type:u_type,
                color:color
            },
            type:'post',
            url:'/index.php/index/index/saveOrder',
            success:function (data) {
                alert(data.msg);
                if (data.status === 1){
                    window.location.reload();
                }
            }
        });
    });

    $('.ubtn').on('click', function () {
        if (!$(this).hasClass('btn-info')){
            $('.ubtn').removeClass('btn-info');
            $(this).addClass('btn-info');
        }
    });
</script>

</html>
